@font-face {
  font-family: "Joti One";
  src: url(../fontes/JotiOne-Regular.ttf);
}

@font-face {
  font-family: "Montesserat";
  src: url(../fontes/Montserrat-Regular.ttf);

}

@font-face {
  font-family: "Montesserat border";
  src: url(../fontes/Montserrat-ExtraBold.ttf);

}

body{
  font-family: "Montesserat" !important;
}

.tab_content{
  display: none;
}


* {

  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


header {
  height: 100px;
  width: 100%;
  background-color: #FD4E4E;
  display: flex;
  align-items: center;
}

.container {
  margin: 0rem auto;
  width: 1330px;

}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;



}

#logo a img {
  width: 180px;

}

#sacola {
  font-size: 30px;
  color: white;
}

main {
  margin-top: 90px;


}

ul {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;

}

ul li button {
  text-decoration: none;
  font-size: 20px;
  background-color: #FD4E4E;
  color: #fff;
  padding: 10px;
  width: 150px;
  border: none;
  font-family: "Joti One" !important;

}

.tab_link.active button{
  background-color: #f51717;
}


ul li button:hover {
  background-color: #f51717;
}

.caixa_estutura {
  margin-top: 50px;
  
}

.area_pizza, .area_massas, .area_bebidas, .area_sobremesas{
display: flex;
flex-wrap: wrap;


}

.card_produto {

  width: 200px;
  height: 265px;
  border: solid 1px #f51717;
  border-radius: 12px;
  font-family: "Montesserat" !important;
  font-weight: 700;
  margin-right: 20px;
}


.img_card {
  display: flex;
  justify-content: center;
 object-fit: cover;
}

.img_card img {
  width: 200px;
  height: 200px;
  padding: 0px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;

}

.texto_card {
  margin: 10px;

}

.btn-div {
  display: flex;
  justify-content: center;
}


.btn-add {
  background-color: #e73737;
  color: #ffffff;
  border-radius: 10px;
  height: 30px;
  width: 100px;
  border: none;
  cursor: pointer;
}

.nome_pizza {
  margin-top: 15px;
  margin-bottom: 14px;
  display: flex;
  justify-content: center;

}

.modal{
  font-family: "Montesserat";
  z-index: 4;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0,0,0,0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content{
  width: 650px;
  height: 400px;
  background-color: #fff;
  border-radius: 10px;
  padding: 10px;
  position: relative;
}
.close{
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 30px;
  cursor: pointer;
}
.close:hover{
  color: #f51717;
}

.modal-body{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}


.imagem img{
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 50%;
}

.conteudo-modal{
  padding: 10px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.custom-radio-btn {
  display: inline-block;
  margin-right: 5px;
  background-color: #f2f2f2;
  /* padding: 8px 16px; */
  border-radius: 4px;
  cursor: pointer;
}

.custom-radio-btn input[type="radio"] {
  display: none;
}
.custom-radio-btn input[type="radio"]:checked + .button-tamanho {
  background-color: #f51717;
  color: #fff;
}

.custom-radio-btn .button-tamanho {
  display: inline-block;
  color: #000;
  /* Ajuste o estilo do botão inteiro quando o radio estiver selecionado */
  padding: 8px 16px;
  border-radius: 4px;
}

.custom-radio-btn:hover .button-tamanho {
  background-color: #e73737;
  color: #fff;
}

.div_tamanho{
  margin-top: 20px;
}

.titulo{
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 10px;
}

.div_preco{
  margin-top: 20px;
}

.div_quantidade{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn_qtd{
 width: 40px;
 height: 40px;
 font-size: 26px;
}

.btn_menos{
  background-color: #e73737;
  color: #ffffff;
  border: none;
  cursor: pointer;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.btn_mais{
  background-color: #0aaf20;
  color: #ffffff;
  border: none;
  cursor: pointer;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.buttons{
  display:flex;
}

.input_qtd{
  width: 40px;
  height: 40px;
  text-align: center;
  border-left: none;
  border-right: none;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  font-size: 20px;
}
.preco{
  font-size: 20px;
  font-weight: 700;
}

.btn_add_cart{
  margin-top: 20px;
  width: 100%;
  height: 40px;
  border-radius: 5px;
  border: none;
  background-color: #e73737;
  color: #ffffff;
  cursor: pointer;
  margin-top: 10px;
}
.btn_add_cart:hover{
  background-color: #f51717;
}
.carrinho{
  position: fixed;
  top: 0;
  right: -450px;
  height: 100vh;
  width: 20%;
  background-color: yellow;
  transition: right 0.5s ease;

}
.badge{
  top: 0;
  right: 0;
  background-color: #000;
  color: #fff;
  padding: 5px;
  border-radius: 50%;
  font-size: 14px;
}

.carrinho_aberto{
  right: 0px;
  margin: 0;
  
}

.carrinho_fechado{
  right: -450px;
}

.close_carrinho{
  font-size: 50px;
  cursor: pointer;
}

.icon_carrinho{
  cursor: pointer;
}









footer{
  margin-top: 220px;
  height: 30px;
  background-color: #f51717;
}